<launch>
	
	<node pkg="tf" type="static_transform_publisher" name="map_frame_broadcaster" args="0 0 0 0 0 0 world map 100" />


	<!-- template -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="" args="x y z yaw pitch roll father_frame child_frame 100" /> -->

	<!-- Inizializzo il frame odom rototraslato di un valore tale da permettere di avere l'origine dell' odometria in comune con gt_pose-->
	<node pkg="tf" type="static_transform_publisher" name="odom_frame_broadcaster" args="0.2868896956 -2.371794268 0.577919 -1.0304625 0 0 map odom 100" />
	
	<!---Carico i parametri iniziali -->
	<rosparam file="$(find scout_visualizer)/launch/parameters_bag2.yaml" />
	<param name="use_sim_time" value="true" />

	<node name="msg_filter" type="msg_filter" pkg="msg_filter" output="screen" />
	<node name="odometry" type="odometry" pkg="odometry" output="screen" />
	
	
	<node name="scout_visualizer" type="scout_visualizer" pkg="scout_visualizer" output="screen" />


	<!--modello 3d di scout-->

	<arg name = "model_xacro" default = "$(find scout_visualizer)/urdf/scout_v2.xacro" />
   
    <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)"/>
 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_visualizer)/rviz/model_display_custom.rviz" />

</launch>
