<launch>
	
	<node pkg="tf" type="static_transform_publisher" name="map_frame_broadcaster" args="0 0 0 0 0 0 world map 100" />
	<node pkg="tf" type="static_transform_publisher" name="est_odom_frame_broadcaster" args="0 0 0 0 0 0 map est_odom 100" />
	
	<!-- al momento, il map frame coincide con world. L'odom frame è sì fisso, ma la sua posizione iniziale varia (come osservato dalle bag), quindi conviene impostare da parametro la sua pos iniziale -->

	<rosparam file="$(find param_estimation)/launch/parameters.yaml" />

	<node name="msg_filter" type="msg_filter" pkg="msg_filter" output="screen" />
	<node name="odometry" type="odometry" pkg="odometry" output="screen" />
	<!-- comment -->
	
	
	<node name="scout_visualizer" type="scout_visualizer" pkg="scout_visualizer" output="screen" />


	<!--modello 3d di scout-->

	<arg name = "model_xacro" default = "$(find scout_visualizer)/urdf/scout_v2.xacro" />

   
   <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)"/>
   
   <param name="use_gui" value="false"/>
   
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_visualizer)/rviz/model_display.rviz" />





</launch>
